.file-input label,
.upload-input {
  display: block;
  position: relative;
  width: 100px;
  height: 25px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff4500, #ff5700);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: small;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  margin-top: 20px;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  margin-top: 10px;
}
.upload {
  border: none;
  background: none;
  color: white;
  padding: 0;
  cursor: pointer;
}

.upload-input {
  margin-top: 10px;
}

.upload-description {
  display: block;
  position: relative;
  width: 100px;
  height: 25px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff4500, #ff5700);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: small;
  cursor: text;
  transition: transform 0.2s ease-out;
}
