@media screen and (min-width: 600px) {
  .meme {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}
.meme {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

div .meme {
  max-width: 600px;
}
