.avatarwindow {
  padding-left: 50px;
  padding-bottom: 20px;
  border-bottom: solid;
  border-color: rgb(194, 194, 194);
}

.avatarpic {
  width: 140px !important;
  height: 140px !important;
  background-color: rgb(255, 68, 11);
  object-fit: cover;
}

.username {
  font-size: x-large;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
  padding-right: 20px;
  font-weight: 500;
}

.bio {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
  padding-right: 40px;
}

.following {
  padding-left: 45px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 250px;
}
.followers {
  padding-left: 45px;
}

.actualpic {
  width: 150px;
}


@media screen and (max-width: 800px) {
    .bio {
        padding-left: 30px;
    }
}


@media screen and (max-width: 600px) {
    .avatarpic {
      width: 120px !important;
      height: 120px !important;
      object-fit: cover;
    }
  
    .avatarwindow {
      min-width: 500px;
      align-items: left;
      max-height: 200px;
    }
  
    .bio {
      display: none;
    }
  
    .following {
      padding-left: 10px;
    }
  
    .actualpic {
      width: 120px;
    }
  }



@media screen and (max-width: 480px) {
  .avatarpic {
    width: 120px !important;
    height: 120px !important;
  }

  .avatarwindow {
    padding-left: 30px;
    min-width: 360px;
    align-items: left;
  }

  .bio {
    display: none;
  }

  .following {
    padding-left: 10px;
  }

  .actualpic {
    width: 120px;
  }
}
