.header {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*   grid-template-columns: auto auto auto auto; */
  /* grid-template-columns: min-content min-content auto min-content; */

  /* height: 50px; */
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom-style: solid;
  border-color: rgb(197, 197, 197);
}

.header .logo {
  color: rgb(131, 131, 131);
  font-weight: 500;
  font-size: 30px;
  justify-self: left;
}
.header .home {
  height: 100%;
  width: 30px;
  margin-left: 10px;
}

.header .upload {
  height: 100%;
  width: 27px;
  margin-left: 10px;
}

.header .profile {
  height: 100%;
  width: 27px;
  margin-left: 10px;
}
